body {
  height: 100vh;
  overflow-y: hidden;
}

.modal-window1 {
  position: absolute;
  width: 40vw;
  height: 50vh;
  background: #ffffff;
  border-radius: 8px;
  top: 20px;
  right: 20px;
  z-index: 999;
  display: none;
}

.show-modal1 {
  display: block;
}

@media (max-width: 992px) {
  body {
    height: auto;
    overflow-y: auto;
  }

  .selected-products {
    margin-top: 40px;
  }

  .modal-window1 {
    width: 90vw;
  }

  .row {
    margin: 0 !important;
  }
}